#boxCont1 {

  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items:center;  
  border: 1px dashed red;
  height:40vw;
  margin-bottom: -75px;

}

#boxCont2 {

    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;  
    height:100%;
    border: 1px dashed red;
  }

  .box {

    height: 300px;
    width: 300px;
    color: #fff;
    padding: 10px;
    border: solid 3px black;
    margin-top: -100px;
    margin-bottom: px;
    font-size: calc(25px + 2vmin);
  }